<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center center">
  <md-card>
    <md-card-title>{{title}}</md-card-title>
    <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="buttonHandler()">
      <md-form-field *ngIf="!isNewList">
        <input mdInput placeholder="List ID" formControlName="listId">
      </md-form-field>
      <md-form-field>
        <input mdInput placeholder="List Title" formControlName="title">
      </md-form-field>
      <md-form-field *ngIf="!isNewList">
        <input mdInput placeholder="User ID" formControlName="userLinkId">
      </md-form-field>
      <md-form-field *ngIf="!isNewList">
        <input mdInput placeholder="Creation Date" formControlName="createDate">
      </md-form-field>
      <md-form-field>
        <input mdInput placeholder="Comment" formControlName="comment">
      </md-form-field>
      <md-form-field *ngIf="!isNewList">
        <input mdInput placeholder="status" formControlName="status">
      </md-form-field>
      <button md-button>{{buttonText}}</button>
    </form>
    <button *ngIf="!isNewList" md-button (click)="removeList()">Delete</button>
  </md-card>

  <p>current list: {{list$?.listId}}</p>
</div>
