<header class="container" fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="1rem" fxLayout.xs="column">
    <button
        md-button
        [mdMenuTriggerFor]="customerMenu"
        fxFlexAlign.xs="start"
        *ngIf="isLoggedIn()">
        {{this.currentUser?.displayName}}
    </button>
    <button md-button fxFlexAlign.xs="start" (click)="loginWithGoogle()" *ngIf="!isLoggedIn()">Log In with Google</button>
</header>

<md-menu #customerMenu="mdMenu">
    <button md-menu-item>Lists</button>
    <button md-menu-item (click)="logOut()">Log Out</button>
</md-menu>
