<header class="container" fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="1rem" fxLayout.xs="column">
    <button md-button [mdMenuTriggerFor]="customerMenu" fxFlexAlign.xs="start">User</button>
    <button md-button [mdMenuTriggerFor]="loanMenu" fxFlexAlign.xs="start">Lists</button>
</header>

<md-menu #customerMenu="mdMenu">
    <button md-menu-item>Edit Profile</button>
    <button md-menu-item>Log Out</button>
</md-menu>

<md-menu #loanMenu="mdMenu">
    <button md-menu-item>Show Lists</button>
    <button md-menu-item>New List</button>
</md-menu>

