md-card.mat-card {
    padding: 3rem;
    background-color: #ffc35d;
    margin-top: 2rem;
    text-align: center;
}

md-card-footer.mat-card-footer {
    text-align: center;
}

button.mat-raised-button {
    width: 10rem;
    margin: 1rem auto;
}